<% if employer_signed_in? or employee_signed_in? %>
  <meta http-equiv="refresh" content="1;URL=/" />
<% else %>
</form>
<h2>Sign up employee</h2>

<%= form_with scope: :employer, url: employer_path(@employer), local: true do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</form>

<input type="button" value="Выйти" onClick='location.href="/"'>
<input type="button" value="Назад" onClick='location.href="/registration"'>

<%end %>

