<html>
<head>
  <style>
    hr {
      display: inline; /* Отображать как строчный элемент */
    }

  </style>
</head>
<body>
<p class="navbar-text float-right">
  <% if employee_signed_in? %>
    Logged in as <strong><%= 'employee' %></strong>.
    <h3><%= link_to 'My profile', employee_path + '?id=' + @currentEmpl.to_s, :class => 'navbar-link' %></h3>
    <h3><%= link_to 'Edit profile', edit_employee_registration_path, :class => 'navbar-link' %></h3>
    <h3><%= link_to 'Search applications', '/search_applications', :class => 'navbar-link' %></h3>
    <h3><%= link_to "Logout", destroy_employee_session_path, method: :delete, :class => 'navbar-link'  %></h3>
  <% elsif employer_signed_in? %>
    Logged in as <strong><%= 'employer' %></strong>.
    <h3><%= link_to 'My applications', 'applications', :class => 'navbar-link' %></h3>
    <h3><%= link_to 'My profile', employer_path + '?id=' + @currentEmp.to_s, :class => 'navbar-link' %></h3>
    <h3><%= link_to 'Edit profile', edit_employer_registration_path, :class => 'navbar-link' %></h3>
    <h3><%= link_to "Logout", destroy_employer_session_path, method: :delete, :class => 'navbar-link'  %></h3>
  <%else %>
    <h2><hr><%= link_to "Sign up", 'registration', :class => 'navbar-link' %></hr></h2>
    <h2><hr><%= link_to "Login", :log_path, :class => 'navbar-link'  %></hr></h2>
  <% end %>
  </p>
  </body>
</html>